# Godot Roc

# ci.roc
ci-out/
platform/targets/
wip-targets-bak/
# TODO: write targets into ci-out subdirectory.

# bundle.roc
bundle-out/

# binaries
*.a
*.wasm
*.so
*.dll
*.ll
*.lib
*.dylib
*.lib
*.o
*.rh
*.rm

# packages
*.tar.br
*.tar.gz
*.tar.zst

# zig
.zig-cache/
zig-cache/
zig-out/

# roc
